.senior-table-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.senior-table-box{
  width: 90%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid black;
  background-color: #bbbbbb;
}
.senior-table-head-container{
  font-size: 1.5rem;
  background-color: white;
}
.senior-table-header-container{
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}
.senior-table-body-container{

}
.senior-table-row-container{

}
.senior-table-data-container{
  font-size: 1rem;
  background-color: white;
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}

.hidden{
  display: none;
}

.logHeader{
  font-family: 'Open Sans Condensed', sans-serif;
}

.senior-button-center
{

}

@media only screen and (max-width: 769px)
{
  .senior-table-box
  {
    width: 100%;
  }
  .senior-button-center{
    padding-left: 0px;
    text-align: center;
  }
  .senior-table-data-container{
    font-size: 1.5rem;
    background-color: white;
    padding-top: 1.5%;
    padding-bottom: 1.8%;
    padding-right: 2%;
    padding-left: 2%;
  }
}

@media only screen and (max-width: 769px){
  .senior-table-head-container{
    display: none;
  }
  .senior-table-box{
    width: 90%;
  }
  .senior-table-body-container, .senior-table-row-container, .senior-table-data-container{
    display: block;
    width: 100%;
  }
  .senior-button-center{
    padding-left: 0px;
    text-align: center;
  }
  .senior-table-row-container{
    margin-bottom: 10px;
  }

  .senior-table-data-container{
    text-align: right;
    padding-left: 50%;
    margin-bottom: 1px;
    position: relative;
  }

  .senior-table-data-container::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
  }
}

@media only screen and (max-width: 500px){
   .senior-button-center{
    padding-left: 0px;
    text-align: center;
  }
}