$base-blue: #00449E;

.senior-table-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0%;
  margin: 0;
  width: 100%;
  height: 100%;
}
.tint{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}
.pointer-div{
  z-index: 4;
}
.senior-view-table-container-responsive{
  overflow-y: scroll;
  z-index: 4;
  background: none;
  width: 90%;
}
.senior-table-box{
  width: 100%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid black;
  background-color: #bbbbbb;
}
.senior-table-head-container{
  font-size: 1.5rem;
  background-color: white;
}
.senior-table-header-container{
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}
.senior-table-body-container{

}
.senior-table-row-container{

}
.senior-table-data-container{
  font-size: 1rem;
  background-color: white;
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}

.hidden{
  display: none;
}

.logHeader{
  font-family: 'Open Sans Condensed', sans-serif;
}

.senior-button-center
{

}
.senior-view-log-pagination-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.senior-view-log-page-btn{
  font-weight: bold;
  border: 1px solid black;
  margin: 1%;
  transition: all 0.3s ease-in;

  &:hover{
    border: none;
    background: $base-blue;
    color: white;
    transform: scale(1.5);
  }
  &:focus{
    background: $base-blue;
  }
}
@media only screen and (max-width: 769px)
{
  .senior-table-box
  {
    width: 100%;
  }
  .senior-button-center{
    padding-left: 0px;
    text-align: center;
  }
  .senior-table-data-container{
    font-size: 1.5rem;
    background-color: white;
    padding-top: 1.5%;
    padding-bottom: 1.8%;
    padding-right: 2%;
    padding-left: 2%;
  }
}

@media only screen and (max-width: 769px){
  .senior-table-head-container{
    display: none;
  }
  .senior-table-box{
    width: 90%;
  }
  .senior-table-body-container, .senior-table-row-container, .senior-table-data-container{
    display: block;
    width: 100%;
  }
  .senior-button-center{
    padding-left: 0px;
    text-align: center;
  }
  .senior-table-row-container{
    margin-bottom: 10px;
  }

  .senior-table-data-container{
    text-align: right;
    padding-left: 50%;
    margin-bottom: 1px;
    position: relative;
  }

  .senior-table-data-container::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
  }
}

@media only screen and (max-width: 500px){
   .senior-button-center{
    padding-left: 0px;
    text-align: center;
  }
}