.search-leads-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
}
.search-leads-header{
  font-size: 3rem;
  margin-bottom: 0px;
  text-align: center;
}
.search-leads-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.hidden{
  display: none;
}

@media only screen and (max-width: 500px){
  .search-leads-form{
    width: 60%;
  }
}