.table-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-box{
  width: 70%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid black;
  background-color: #bbbbbb;
}
.table-head-container{
  font-size: 2rem;
  background-color: white;
}
.table-header-container{
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}
.table-body-container{

}
.table-data-container{
  font-size: 1.5rem;
  background-color: white;
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}