.admin-view-junior-table-container{
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}
.tint{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}
.pointer-div{
  z-index: 4;
}
.table-container-responsive{
  overflow: scroll;
  z-index: 4;
  background: none;
  width: 80%;
}
.admin-view-junior-table-box{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #bbbbbb;
  border: 2px solid black;
}
.admin-view-junior-table-head-container{
  font-size: 2rem;
  background-color: white;
}
.admin-view-junior-table-header-container{
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}
.admin-view-junior-table-body-container{

}
.admin-view-junior-table-row-container{

}
.admin-view-junior-table-data-container{
  font-size: 1.5rem;
  background-color: white;
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}
.hidden{
  display: none;
}
.visible
{
  display: block;
}

@media only screen and (max-width: 500px)
{
  .admin-view-junior-table-box
  {
    width: 100%;
  }
  .table-container-responsive{
    width: 95%;
  }
  .admin-view-junior-table-data-container{
    font-size: 1.5rem;
    background-color: white;
    padding-top: 1.5%;
    padding-bottom: 1.8%;
    padding-right: 2%;
    padding-left: 2%;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 2%;
  }
}
.button-center
{

}
@media only screen and (max-width: 500px){
  .admin-view-junior-table-head-container{
    display: none;
  }
  .admin-view-junior-table-box{
    width: 90%;
    overflow: scroll;
  }
  .admin-view-junior-table-body-container, .admin-view-junior-table-row-container, .admin-view-junior-table-data-container{
    display: block;
    width: 100%;
  }
  .admin-view-junior-table-row-container{
    margin-bottom: 10px;
  }

  .admin-view-junior-table-data-container{
    text-align: right;
    padding-left: 50%;
    margin-bottom: 1px;
    position: relative;
  }

  .button-center{
    padding-left: 0px;
    text-align: center;
  }

  .admin-view-junior-table-data-container::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
  }
}