.senior-handover-leads{
	position: relative;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	height: 100vh;
	padding-top: 10%;
}

.senior-handover-pagination-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.senior-handover-leads-header{
	font-size: 3rem;
	font-weight: bold;
}

.search-button{
	padding: 5px 40px 5px 40px;
	border: 1px solid black;
	color: white;
	background: black;
	transition: all 0.3s ease-in;

	&:hover{
		background: white;
		color: black;
		border: 1px solid black;
	}
}

.senior-puff-loader{
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
}