$base-blue: #00449E;

.admin-view-junior-log-container{
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}
.admin-view-junior-log-pagination-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.admin-view-junior-log-page-btn{
  font-weight: bold;
  border: 1px solid black;
  margin: 1%;
  transition: all 0.3s ease-in;
  z-index: 6;
  &:hover{
    border: none;
    background: $base-blue;
    color: white;
    transform: scale(1.5);
  }
}
.tintLog{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.75;
}
.pointer-divLog{
  z-index: 6;
}
.pointer-back-button{
  color: white;
  transition: all 0.3s ease-out;
}
.pointer-back-button:hover{
  background: rgb(67, 160, 71);
  border: none;
  color: white;
  transform: scale(1.2);
}
.log-container-responsive{
  overflow-y: scroll;
  z-index: 6;
  background: none;
  width: 80%;
}
.admin-view-junior-log-box{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #bbbbbb;
  border: 2px solid black;
}
.admin-view-junior-log-head-container{
  font-size: 2rem;
  background-color: white;
}
.admin-view-junior-log-header-container{
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}
.admin-view-junior-log-body-container{

}
.admin-view-junior-log-row-container{

}
.admin-view-junior-log-data-container{
  font-size: 1.5rem;
  background-color: white;
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}
.hidden{
  display: none;
}
.visible
{
  display: block;
}

@media only screen and (max-width: 500px)
{
  .admin-view-junior-log-box
  {
    width: 100%;
  }
  .log-container-responsive{
    width: 95%;
    overflow-y: scroll;
  }
  .admin-view-junior-log-data-container{
    font-size: 1.5rem;
    background-color: white;
    padding-top: 1.5%;
    padding-bottom: 1.8%;
    padding-right: 2%;
    padding-left: 2%;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 2%;
  }
}
@media only screen and (max-width: 500px){
  .admin-view-junior-log-head-container{
    display: none;
  }
  .admin-view-junior-log-box{
    width: 100%;
  }
  .admin-view-junior-log-body-container, .admin-view-junior-log-row-container, .admin-view-junior-log-data-container{
    display: block;
    width: 100%;
  }
  .admin-view-junior-log-row-container{
    margin-bottom: 10px;
  }

  .admin-view-junior-log-data-container{
    text-align: right;
    padding-left: 50%;
    margin-bottom: 1px;
    position: relative;
  }

  .admin-view-junior-log-data-container::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
  }
}