.nav{
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.5px;
}
.logo{
  width: 8%;
  height: 8%;
}
.nav-links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item-link{
  margin: 0 10px 0 10px;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #282c34;
}
.menu-icon{
  display: none;
}
@media only screen and (max-width: 428px) {
  .logo{
    width: 25%;
    height: 25%;
    margin-top: 10px;
  }
  .nav-links{
    display: none;
  }
  .menu-icon{
    display: block;
  }
}
