.admin-payment-container{
	font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
}
.admin-payment-details{
	display: flex;
	flex-direction: column;
}
.admin-payment-disection{
	display: grid;
	grid-template-columns: 50% 50%;
}

.admin-payment-table-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-payment-table-box{
  width: 90%;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid black;
  background-color: #bbbbbb;
}
.admin-payment-table-head-container{
  font-size: 2rem;
  background-color: white;
}
.admin-payment-table-header-container{
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}
.admin-payment-table-body-container{

}
.admin-payment-table-row-container{

}
.admin-payment-table-data-container{
  font-size: 1.5rem;
  background-color: white;
  padding-top: 1.5%;
  padding-bottom: 1.8%;
}

.pay-button-center{

}

@media only screen and (max-width: 769px)
{
  .admin-payment-table-box
  {
    width: 95%;
  }
  .admin-payment-table-data-container{
    font-size: 1.5rem;
    background-color: white;
    padding-top: 1.5%;
    padding-bottom: 1.8%;
    padding-right: 2%;
    padding-left: 2%;
  }
}

@media only screen and (max-width: 650px){
	.admin-payment-disection{
		grid-template-columns: 100%;
	}
}

@media only screen and (max-width: 500px){
  .admin-payment-table-head-container{
    display: none;
  }

  .admin-payment-table-body-container, .admin-payment-table-row-container, .admin-payment-table-data-container{
    display: block;
    width: 100%;
  }

  .admin-payment-table-row-container{
    margin-bottom: 10px;
  }

  .admin-payment-table-data-container{
    text-align: right;
    padding-left: 50%;
    margin-bottom: 1px;
    position: relative;
  }

  .admin-payment-table-data-container::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
  }
  .pay-button-center{
    padding-left: 0px;
    text-align: center;
  }
}