.admin-payment-modal-container{
	
}

.form-header{
	font-size: 2rem;
	text-align: center;
}

.payment-form-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;
	position: fixed;
	width: 50%;
	height: 85%;
	top: 10%;
	left: 25%;
	border: 1px solid black;
}

.visible{
	display: block;
}

.hidden{
	display: hidden;
}

@media only screen and (max-width: 450px){
	.payment-form-container{
		width: 80%;
		left: 10%;
		height: 70%;
	}
}
@media only screen and (max-width: 385px){
	.payment-form-container{
		width: 80%;
		left: 10%;
		height: 60%;
	}
}