.senior-handover-modal-container{
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}
.senior-handover-tint{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.6;
	z-index: 4;
}

.senior-handover-modal{
	position: absolute;
	top: 5%;
	left: 15%;
	width: 70%;
	height: 80%;
	z-index: 6;
	overflow-y: scroll;
	background: white;
	border: 1px solid black;
	font-family: 'Open Sans Condensed', sans-serif;
}

.senior-handover-modal-header{
	padding: 0.5%;
	border-left: 4px solid black;
}
.senior-handover-grid-div{
	display: grid;
	grid-template-columns: 50% 50%;
}
.senior-handover-modal-lead-details{
	text-align: center;
	display: grid;
	grid-template-columns: 100%;

}

.senior-handover-detail-item{
	font-size: 1.5rem;
	border: 1px solid gray;
}

.senior-handover-modal-form{
	margin: 3%;
	margin-left: 6%;
}
.senior-handover-modal-form-component{
	display: grid;
	grid-template-columns: 70% 30%;
	margin-top: -10%;
}
.senior-handover-visible{
	display: block;
}

.senior-handover-hidden{
	display: hidden;
}
#button-margin-1{
}
#button-margin-2{
}
#button-margin-3{
}
#button-margin-4{
}
@media only screen and (max-width: 768px){
	.grid-div{
		display: grid;
		grid-template-columns: 100%;
	}
}

@media only screen and (max-width: 700px){
	#button-margin-1{
        margin-left: 0;
        margin-top: -30%;
    }
    #button-margin-2{
        margin-left: 0;
        margin-top: -30%;
    }
    #button-margin-3{
        margin-left: 0;
        margin-top: -30%;
    }
    #button-margin-4{
        margin-left: 0;
        margin-top: -30%;
    }
	.grid-div{
		grid-template-columns: 100%;
	}

	.junior-modal-form-component{
		display: grid;
		grid-template-columns: 100%;
	}
}

@media only screen and (max-width: 500px){
	.junior-modal{
		left: 5%;
		width: 90%;
		height: 90%;
	}
}